* {
  box-sizing: border-box;
}

html {
  background-color: #1e1e2f;

  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  color: #e0e0e0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 24px;
  max-width: 750px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style: none;
}

header {
  margin: 4px 0 8px 0;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fira-code-nav-link {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  color: #e0e0e0;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 0;
}
.fira-code-nav-link:hover {
  color: #27e8a7;
}

.active {
  color: #7fb7ff;
}

@media (max-width: 600px) {
  body {
    padding: 16px;
    padding-top: 0px;
  }
  .fira-code-nav-link {
    font-size: 14px;
  }
  header {
    margin-top: 0px;
  }
}

@media (max-width: 345px) {
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  nav {
    margin-bottom: 16px;
  }
}

.permanent-marker-heading {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-size: 48px;
  color: #27e8a7;
}
.permanent-marker-sub-heading {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-size: 32px;
  color: #7fb7ff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.noto-sans-paragraph {
  font-family: 'Noto Sans', sans-serif;
  font-variation-settings: 'wdth' 100;
  font-size: 16px;
  line-height: 1.25;
}

.noto-sans-section-heading {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  font-variation-settings: 'wdth' 100;
  margin-bottom: 10px;
}

.fira-code-section-heading {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.about-card {
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
  margin-top: 16px;
  background-color: #353552;
  padding: 16px;
  border-radius: 16px;
}

.exp-section {
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #353552;
  padding: 16px;
  border-radius: 16px;
}
.exp-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.exp-card ul {
  list-style: disc;
  margin-left: 18px;
}
.exp-card li {
  margin: 4px 0;
  font-size: 16px;
}
.exp-title {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  color: #27e8a7;
}
.exp-date {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: 16px;
  color: #7fb7ff;
}

.edu-section {
  width: 100%;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
  background-color: #353552;
  padding: 16px;
  border-radius: 16px;
}

.edu-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
}
.edu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 16px;
}
.edu-title {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  color: #27e8a7;
}
.edu-address {
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  font-size: 16px;
  color: #7fb7ff;
}

.edu-date {
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  font-size: 14px;
  margin-top: 4px;
}

.projects-section {
  width: 100%;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
  background-color: #353552;
  padding: 16px;
  border-radius: 16px;
}

.project-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 16px;
  gap: 4px;
}
.project-title {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  color: #27e8a7;
}
.project-description {
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  font-size: 16px;
}
.project-link {
  align-self: flex-end;
}
.project-link a {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  color: #e0e0e0;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  align-self: flex-end;
}
.project-link a:hover {
  color: #7fb7ff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}
